/* font-family: 'Montserrat', sans-serif;
font-family: 'Raleway', sans-serif; */

/* Base Element Styles */


* {
    box-sizing: border-box;
  }
  
    body {
     font-family: 'Raleway', sans-serif;
     font-weight: 100;
     line-height: 1.7;
     letter-spacing: .05em;
     margin: 0 auto;
    }

    header {
      background: 100%;
      background-color:#f4f4f4;
      margin-top: 0;
    }

    p {
      text-align: center;
      padding: 20px 15px 30px 15px;
      margin: 20px;
    }

    #head-shot {
      display: block;
      margin: auto;
      padding-bottom: 10px;
    }

    .main-header, .main-nav {
      font-family: 'Montserrat', sans-serif;
      font-weight: 400;
      text-align: center;
      display: block;
    }

    .main-header {
      letter-spacing: .2em;
    }

    .main-nav li {
      text-transform: uppercase;
      padding: 15px 20px;
    }

    a {
      text-decoration: none;
    }
    
    ul {
      list-style: none;
    }

    div .head-shot,
      .portfolio {
      display: block;
      margin: auto;
      max-width: 90%;
      padding-bottom: 30px;
    }

    h2 {
      font-family: 'Montserrat', sans-serif;
      font-weight: 300;
      font-size: 1.7em;
      text-transform: uppercase;
      text-align: center;
      margin: 0;
      padding: 50px 30px;
    }

    h3 {
      font-family: 'Montserrat', sans-serif;
      font-weight: 300;
      font-size: 1.7em;
      text-align: center;
      margin: 0;
    }