/* font-family: 'Montserrat', sans-serif;
font-family: 'Raleway', sans-serif; */

/* Base Element Styles */

* {
    box-sizing: border-box;
  }
  
    body {
     font-family: 'Raleway', sans-serif;
     font-weight: 100;
     line-height: 1.7;
     letter-spacing: .05em;
     max-width: 90%;
     text-align: center;
     margin: auto;
    }

    header,
    footer {
      background: 100%;
      background-color:#f4f4f4;
      padding-top: 30px;
      padding-bottom: 30px;
      margin-top: 0;
    }

    p {
      padding: 10px 50px 50px 50px;
    }

    .main-header, .main-nav {
      text-align: center;
      display: block;
      margin: 0 auto;
    }

    .main-nav li {
      font-family: 'Montserrat', sans-serif;
      text-transform: uppercase;
      font-weight: 400;
      display: block;
      max-width: 90%;
      padding: 15px 20px;
      margin: 0 auto;
      margin-bottom: 20px;
      background-color: #fff;
    }

    a {
      text-decoration: none;
    }
    
    ul {
      list-style: none;
    }

    .head-shot,
    .portfolio {
      display: block;
      margin: auto;
      max-width: 90%;
      padding-top: 20px;
      padding-bottom: 30px;
    }

    h1, h2, h3,
    h4 {
      font-family: 'Montserrat', sans-serif;
      font-weight: 500;
      letter-spacing: .2em;
      text-align: center;
      padding-top: 5px;
      padding-bottom: 30px;
      margin-top: 0;
      margin-right: 0;
      max-width: 90%;
    }

    h2 {
      text-transform: uppercase;
      padding-top: 50px;
      padding-bottom: 50px;
      margin: 0;
    }

    h4 {
      font-weight: 400;
      text-align: left;
      display: inline-block;
      padding: 0;
      margin-left: 30px;
    }

    hr { 
      width: 90%;
    }

    span {
      font-weight: 500;
      margin-left: 30px;
    }

    .alignleft {
      float: left;
    }

    .alignright {
      float: right;
      letter-spacing: normal;
      text-transform: capitalize;
    }
